html{
  background-color:#0A1730;
  --menuBackgroundRGBA: 249, 249, 250;
  --menuBoxShadow: #0000;
  --colorSwitcher: #233453;
  --gridLine: #233453;
  --borderColor: #233453;
  --buttonColor: #5F40E5;
  --darkColorTransparent: #233453;
  --darkColor: #0A1730;
  --darkFontColor: #b4aebc;
  --lightColor: #192843;
  --lightFontColor: #ffffff;
  --sidebarFontColor: #C9C9CB;
  --sidebarBorder: #233453;
  --thinColor: #989ba0;
  --invoiceButton: #ffffff;
  --inputBorder: #233453;
  --inputBorderHover: #3F4A60;
  --inputBorderFocus: #613BEA;
  --checkbox-border: #3F4A60;
  --htmlBack: var(--darkColor);
  --menuBackgroundHover: rgba(var(--menuBackgroundRGBA), 10%);
}

.scroll-hidden {
    overflow: hidden;
  }

  body {
    transition: background .9s;
    background-color: #0000;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font-family: "Inter Var",sans-serif !important;
  }

  .sellix-store {
    background-color: transparent;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
  }

  .status-wrapper {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--gridLine);
  }

  .header.is-shop {
    border-bottom: 1px solid var(--borderColor);
    position: relative;
    height: 60px;
    flex: 0 0 60px;
  }
  .header {
    height: 70px;
    flex: 0 0 70px;
    box-shadow: none;
    border-bottom: 0;
    width: 100%;
    z-index: 12;
    position: fixed;
    background: var(--darkColor);
  }
  .header.is-shop .header-logo {
    background: transparent !important;
    border-color: transparent !important;
  }
  .header .header-logo {
    width: 230px;
    height: 100%;
    cursor: pointer;
    background: var(--lightColor);
    border-right: 1px solid var(--gridLine);
  }

  .header .header-logo-image {
    width: 230px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem 0 1.5rem;
  }
  .header .header-logo-image a {
    color: #6461fc;
    text-decoration: none;
    background-color: #0000;
  }

  .header.is-shop .header-nav {
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
    justify-content: flex-end;
  }
  .header .header-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0 1rem 0 2rem;
    border-bottom: 1px solid var(--gridLine);
  }

  .header .header-menu {
    display: flex;
    align-items: center;
    transition: all .3s ease;
  }

  #content {
    flex-direction: column;
    position: relative;
    flex: 1 0 auto;
    display: flex;
  }
  .sellix-product-screen {
    max-width: 1140px;
    margin: 2rem auto;
  }
  .sellix-product-screen {
    width: 100%;
    max-width: 1140px;
    margin: 2rem auto;
    padding: 0 1rem;
    min-height: 200px;
    position: relative;
  }

  .shop-product-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    transition: transform .5s ease;
  }

  .shop-product-info {
    width: calc(100% - 340px - 2rem);
    margin-right: 1rem;
  }
  .shop-product-info {
    display: flex;
    position: relative;
    width: calc(100% - 340px - 3rem);
    margin-right: 3rem;
    border-radius: 0 .5rem .5rem .5rem;
    overflow: hidden;
    transition: transform .5s ease,opacity .5s ease;
    opacity: 1;
  }
  .shop-product-info-description.with-image {
    width: 100%;
  }
  .shop-product-info-shop {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  .shop-product-info-shop img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: .25rem;
    margin-right: .5rem;
  }
  .shop-product-info-product {
    padding: 1rem;
    border: 1px solid var(--borderColor);
    background: var(--lightColor);
    border-radius: .5rem;
    position: relative;
    margin-bottom: 1rem;
  }

  .mb-0 {
    margin-bottom: 0 !important;
  }
  .shop-product-info-product-title {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--lightFontColor);
    margin-bottom: 1rem;
  }
  .shop-product-info-product-info {
    color: var(--lightFontColor);
    font-size: 14px;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--borderColor);
    padding-bottom: 1rem;
    align-items: center;
    justify-content: flex-start;
    display: flex;
  }
  .shop-product-info-wrapper {
    display: flex;
  }

  .shop-product-info .carousel-root {
    width: 50%;
    margin-right: 1rem;
  }
  .carousel-root {
    outline: none;
  }

  .carousel.carousel-slider {
    position: relative;
    margin: 0;
    overflow: hidden;
  }
  .carousel .slider-wrapper {
    overflow: hidden;
    margin: auto;
    width: 100%;
    transition: height .15s ease-in;
  }


  .carousel .slider-wrapper.axis-horizontal .slider {
    display: flex;
}
.carousel .slide {
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
  }

  .shop-product-info-image {
    width: 100%;
    height: auto;
    margin-right: 1rem;
    border-radius: .5rem;
    overflow: hidden;
    cursor: pointer;
  }

  .shop-product-info .carousel-root .slide img {
    border-radius: .5rem;
  }
  .carousel .slide img {
    width: 100%;
    vertical-align: top;
    border: 0;
  }
  .carousel img {
    width: 100%;
    display: inline-block;
    pointer-events: none;
  }


  .shop-product-info .carousel-root + div {
    width: 50%;
  }
  .shop-product-info-product-description {
    width: 100%;
    font-size: 14px;
    color: var(--darkFontColor);
    line-height: 1.5rem;
    overflow: auto;
    padding-top: 0;
  }
  .sellix-text, .mde-preview-content {
    color: var(--lightFontColor);
  }

  .sellix-text p, .mde-preview-content p {
    font-size: .9rem;
    margin: 0;
      margin-bottom: 0px;
    line-height: 1.2rem;
    margin-bottom: .6rem;
    color: var(--lightFontColor);
  }

  .shop-product-card {
    width: 340px;
    position: relative;
    border-radius: .5rem;
    min-height: 300px;
    z-index: 9;
    transition: transform .5s ease;
    margin-top: 2.5rem;
  }

  .sellix-product-card {
    width: 100%;
    margin: 0 auto;
    max-width: 340px;
    height: auto;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--borderColor);
    transition: height 10s ease-in-out,min-height 10s ease-in-out;
    background: var(--lightColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  .sellix-product-title {
    font-size: 18px;
    color: var(--lightFontColor);
    margin-bottom: 1.5rem;
  }


  .text-transition_inner {
    overflow: visible !important;
  }
  .sellix-product-back {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--darkFontColor);
  }

  .fas, .fa-solid {
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
  }

  .w-100 {
    width: 100% !important;
  }

  .sellix-stock-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sellix-stock-count {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    border: 1px solid var(--borderColor);
    height: 36px;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 14px;
    background: var(--darkColor);
  }

  .sellix-stock-count-picker {
    opacity: .75;
    padding: .25rem;
  }


  .sellix-stock-count-picker.can-click i {
    color: var(--darkColor);
  }
  .sellix-stock-count i {
    cursor: pointer;
    color: var(--darkFontColor);
  }

  .sellix-stock-count input {
    background: transparent;
    border: none;
    width: 100%;
    text-align: center;
    outline: none;
    font-size: 14px;
    min-width: 50px;
    color: var(--darkFontColor);
    font-family: "Inter Var",sans-serif !important;
  }

  .sellix-stock-count-picker {
    opacity: .75;
    padding: .25rem;
  }

  .sellix-stock-count i {
    cursor: pointer;
    color: var(--darkFontColor);
  }

  .sellix-stock-total {
    font-size: 14px;
    color: var(--darkFontColor);
    opacity: .7;
    margin-left: 0;
    display: flex;
  }

  .sellix-stock-total .text-transition_inner {
    overflow: visible !important;
  }

  .sellix-product-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
    font-size: 14px;
    color: var(--darkFontColor);
  }

  .sellix-product-total-price {
    font-size: 24px;
    color: var(--buttonColor);
    font-weight: 600;
    display: flex;
    overflow: visible;
  }

  .ReactCollapse--collapse {
    transition: height .5s;
  }
  .sellix-product-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
    font-size: 14px;
    color: var(--darkFontColor);
  }
  .pt-2 {
    padding-top: .5rem !important;
  }
  .mt-0 {
    margin-top: 0 !important;
  }

  .sellix-product-footer {
    margin-top: 1.5rem;
  }
  .sellix-store .button {
    border-color: var(--borderColor);
    background-color: #5F40E5;
  }
  .button {
    position: relative;
    overflow: hidden;
    transition: all .25s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    font-weight: 400 !important;
    font-family: "Inter Var",sans-serif !important;
    border-radius: .25rem;
    border: 1px solid var(--gridLine);
    color: white;
    
  }