{% extends 'index.html' %}
{% block title %}
<title>Add Products</title>
{% endblock %}

{% block header %}
<h1 class="h3 mb-0 text-gray-800">Add Products</h1>
{% endblock %}

{% block contents %}
<div style="text-align:center;">
    <h3>Add Product</h3>
</div>

<form action="" method="post">
    {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Title</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="title" required>
          </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Description</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="description">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Price</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="price" placeholder="$"  required>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Stock</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="stock" required>
        </div>
        <div style="text-align:center;">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
          

</form>
{%endblock%}