{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block title %}
<title>Edit Store</title>
{% endblock %}

{% block header %}
<h1 class="h3 mb-0 text-gray-800">Edit Store</h1>
<a href="{% url 'delete_store' store.id %}" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i
    class="fas fa-download fa-sm text-white-50"></i> Delete Store</a>
{% endblock %}
{% block contents %}
<form action="" method="POST" enctype="multipart/form-data">
    {%csrf_token%}
    {{form | crispy }}
    <div style="text-align:center;">
        <input type="submit">
    </div>
</form>
{%endblock%}