{% extends "layout.html" %}
{% block title %}
    <title>Brute-Seller</title>
{% endblock %}

{% block contents %}
    {% for message in messages %}
        <p class="alert alert-secondary" style="text-align: center;">{{ message }}</p>
    {% endfor %}
    <h1>Welcome to the homepage</h1>
    <h1>Digital selling with ease</h1>
    <p>Sell tokens, serial keys, digital downloads, video courses, softwares and licenses in a fast, easy and secure way.</p>
    {% if user.is_authenticated %}
        <p>{{request.user}}</p>
        <a href="/accounts/logout/"><button>Logout</button></a>
        
    {% else %}
        <a href="/accounts/login/"><button>Login</button></a>
        <a href="/accounts/signup/"><button>Start Here</button></a>
    {% endif %}

{%endblock%}