{% extends 'index.html' %}
{% block title %}
<title>Settings</title>
{% endblock %}

{% block header %}
<h1 class="h3 mb-0 text-gray-800">Settings</h1>
{% endblock %}

{% block contents %}
<div>
    <div>
        <a href="{% url 'profile_details'%}">Edit Profile</a>
        </div>

    {% if store %}
    <div>
        <a href="{% url 'edit_store' store.id %}">Edit Store</a></div>
    {% else %}
    <div><a href="{% url 'createstore'%}"> Create Store</a></div>
    {% endif %}
    <div>
        <a href="{% url 'payments' %}">Payments</a></div>
    <div>
        <a href="#">Notification</a></div>
</div>

{%endblock%}