<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style/store/product.css'%}">
</head>
<body>
    <div id="app" style="margin-top: 1px;">
        <div class="sellix-store">
            <div class="status-wrapper">
            </div>
            <div class="header is-shop">
                <div style="max-width:1140px;margin:0 auto;position:relative">
                    <div class="header-logo">
                        <div class="header-logo "><button type="button" class="sidebar-toggler"><span></span></button><a href="/" class="header-logo-image false undefined"><span style="font-size:1.5rem;font-weight:700">twizen</span></a></div>
                    </div>
                    <div class="header-nav">
                        <div class="header-menu"></div>
                    </div>
                </div>
            </div>
            <div id="content" class=" is-product">
                <div class="sellix-product-screen">
                    <div class="shop-product-container">
                        <div class="shop-product-info" style="transform:translateX(0)">
                            <div class="shop-product-info-description with-image">
                                <div class="shop-product-info-shop">
                                    <img src="{{store.logo.url}}" alt="">
                                    <span><a href="/">{{store.name}}</a></span>
                                </div>
                                <div class="cshop-product-info-product">
                                    <div class="shop-product-info-product-title mb-0">{{product.name|title}}</div>
                                    <div class="shop-product-info-product-info"></div>
                                    <div class="shop-product-info-wrapper">
                                        <div class="carousel-root isOne">
                                            <div class="carousel carousel-slider">
                                                <div class="slider-wrapper axis-horizontal">
                                                    <ul class="slider animated" style="-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-webkit-transition-duration:350ms;-moz-transition-duration:350ms;-o-transition-duration:350ms;transition-duration:350ms;-ms-transition-duration:350ms">
                                                        <li class="slide selected previous">
                                                            <div class="shop-product-info-image">
                                                                <img src="{{product.image.url}}" alt="">
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shop-product-info-product-description">
                                            <div class="sellix-text">
                                                <p>{{product.description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="shop-product-card" style="margin-top:2.5rem">
                            <div>
                                <div>
                                    <div class="sellix-product-card">
                                        <div class="sellix-product-title" style="height:18px">
                                            
                                        </div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>